/* main */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* images */
.user-image {
  width: 20%;
  border-radius: 50%;
  margin: 1px;
  align-items: center;
}

/* nav */

nav {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  padding-left: 40px;
  padding-right: 40px;
}

/* .house-search {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 20px;
} */

/*
logo */

.wrap-houses .logo {
  width: 10%;
  margin: 15px;
}

.form-select {
  width: 80%;
  margin: 10px;
  border: solid 1px grey;
}

/* buttons */
/* .wrap-houses button {
  border: solid 1px darkgray;
  border-radius: 6px;
  color: grey;
  margin: 10px;
  margin-right: 0px;
  background-color: white;
} */

/* .nav-button {
  border: solid 1px;
  border-radius: 6px;
  color: white;
  margin: 10px;
  margin-right: 0px;
  background-color: #3caea3;
  width: 30%;
  padding: 10px;
} */
