body {
  font-family: Helvetica;
}

.logo-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 150px;
}

.search-bar {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 0.5px;
}

.search-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
}

.search-button:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

.header-results {
  display: inline-block;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

.links {
  font-size: 12px;
}

/*
Vertical space between search results: 40px
Vertical space above and below the "number of results": 30px
Height of the "Search" button: ~40px (automatic, same as search input)
Vertical space above and below the "Search" button: 10px
Space to the right of the logo: 30px
Space to the right of the search input: 20px
Space the the left of the search results: 140px
Width of the search results list: 700px */

/* Color of links: 1a0dab
Color of links after being visited: 660099
Color of regular text: 5b5b5b
Color of the navigation border: c4c4c4 */
