body {
  font-family: Helvetica;
  color: #5b5b5b;
  margin-top: 0;
}

.logo-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 150px;
}

.search-bar {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 0.5px;
}

.search-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
}

.search-button:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

.header-results {
  display: inline-block;
}

#logo-results {
  width: 100px;
  padding-top: 20px;
}

#button-results {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
}

#button-results:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

#searchbar-results {
  margin: 0 30px 20px 10px;
  border-radius: 10px;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 1px;
  width: 400px;
}

.nav-bar {
  border-bottom: 5px;
  border-color: red;
}

h1 {
  font-size: 24px;
}

h1:visited {
  color: green;
}

p {
  font-size: 14px;
}

.links {
  font-size: 12px;
  margin-bottom: 40px;
}

.results-list-number {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
/*
Vertical space between search results: 40px
Vertical space above and below the "number of results": 30px

Height of the "Search" button: ~40px (automatic, same as search input)
Vertical space above and below the "Search" button: 10px
Space to the right of the logo: 30px
Space to the right of the search input: 20px
Space the the left of the search results: 140px
Width of the search results list: 700px */

/* Color of links: 1a0dab
Color of links after being visited: 660099
Color of regular text: 5b5b5b
Color of the navigation border: c4c4c4 */
