/* main */

body {
  font-family: Helvetica, sans-serif;
  color: #5b5b5b;
  margin: 0;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 24px;
  margin-top: 8px;
}

p {
  font-size: 14px;
}

nav {
  border-bottom: 1px solid;
  border-color: darkgrey;
  display: grid;
  grid-template-columns: 150px auto;
  grid-column-gap: 20px;
  padding-bottom: 5px;
}

/* section */

section {
  width: 700px;
}

section,
.results {
  margin-left: 180px;
}

small,
.results {
  display: block;
  margin-top: 30px;
}

.result-title {
  text-decoration: none;
}

.links {
  margin-bottom: 40px;
  list-style: none;
  font-size: 12px;
}

.links li {
  display: inline-block;
}

ul {
  padding-left: 8px;
}

.results-list-number {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* logo */

.logo-search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 150px;
}

#logo-results {
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
}
/*
input */

.search-bar {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 40px;
  border-radius: 18px;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 1px;
}

#searchbar-results {
  margin: 14px 30px 12px 10px;
  border-radius: 18px;
  border-color: rgba(128, 128, 128, 0.5);
  border-width: 1px;
  height: 40px;
  width: 400px;
}

/* button */

.search-button {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

button {
  cursor: pointer;
  background-color: #4285f3;
  border-color: #1a5fd0;
  border-radius: 4px;
  border-width: 0.5px;
  color: white;
  font-size: 14px;
  padding: 12px 20px;
}

#button-results {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4285f3;
  border-color: #1a5fd0;
}

#button-results:hover {
  background-color: #5998ff;
  transition: 0.7s;
}

/* .header-results {
  display: inline-block;
} */

/*
Vertical space between search results: 40px
Vertical space above and below the "number of results": 30px

Height of the "Search" button: ~40px (automatic, same as search input)
Vertical space above and below the "Search" button: 10px
Space to the right of the logo: 30px
Space to the right of the search input: 20px
Space the the left of the search results: 140px
Width of the search results list: 700px */

/* Color of links: 1a0dab
Color of links after being visited: 660099
Color of regular text: 5b5b5b
Color of the navigation border: c4c4c4 */
